#calculadora{ 
    background: rgb(28, 28, 173);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10x black;
    position:  absolute;
    left: 40%
    top: 10%
    
}
#calculadora input {  
    background: rgb(33, 177, 187);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
}
#calculadora button {
    background: rgb(14, 240, 14); 
    color: rgb(0, 0, 0); 
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}
#calculadora button:hover{  
    background: rgb(0, 0, 0);
    color: rgb(32, 32, 112);
    cursor: pointer;
}
#spTotal {
    background: rgb(216, 15, 15);
    color: rgb(0, 0, 0);
    padding: 5px;font-family: 'Courier New', Courier, monospace;
}
.splista{
    background: rgb(26, 194, 194);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.calcF {
    display: none;
}
#calcFin:checked + #calculadora .calcF {
    display: block;
}
#calcFin {
    display: none;
}
